<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index.html' %}
{% block body%}

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">Admin Home</th>
  </tr>
  <tr>
    <td><a href="managestaff">Manage Staff</a> </td>
  </tr>
   <tr>
    <td><a href="managesubject" >Manage Subject </a></td>
  </tr>
  <tr>
    <td><a href="manageallosubject">Manage Allocate subject</a> </td>
  <!--<tr>-->
    <!--<td><a href="allocatesubject">Allocate subject</a> </td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="">Manage Subject</a> </td>-->
  <!--</tr>-->
  <tr>
    <td><a href="managecourse">Manage Course</a> </td>
  </tr>

  <!--<tr>-->
    <!--<td><a href="addcourse">Add course</a> </td>-->
  <!--</tr>-->
  <tr>
    <td><a href="manageshedule">Manage Exam Shedule </a></td>
  </tr>
  <!--<tr>-->
    <!--<td><a href="addshedule">Add exam schedule</a> </td>-->
  <!--</tr>-->
  <tr>
    <td><a href="notification">Manage Notification </a></td></tr>
  <!--</tr><tr>-->
    <!--<td><a href="addnotification">Add Notification </a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="managesubject" >Manage Subject </a></td>-->
  <!--</tr>-->
  <tr>
    <td><a href="">Log out </a> </td>
  </tr>
</table>
</body>
<!--</html>-->
{% endblock %}