<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="addnotes">
  <table width="200" border="1">
    <tr>
      <th colspan="4" scope="col">MANGE NOTES </th>
    </tr>
    <tr>
      <td>Notes</td>
      <td>Subject</td>
      <td>Date</td>
      <td>&nbsp;</td>
    </tr>

     </tr>
    {% for i in val %}
    <tr>
      <td>{{i['notes']}}</td>
      <td>{{i['subject name']}}</td>
      <td>{{i['date']}}</td>
       <td><p><a href="#">edit</a></p>
      <p><a href="#">delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4"><div align="center">
        <label>
        <input type="submit" name="Submit" value="Add new" />
        </label>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
