<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="col">STAFF HOME </th>
    </tr>
    <tr>
      <td><div align="center"><a href="managestudent">Manage Students </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="viewsubject">View subjects </a></div></td>
    </tr>
    <!--<tr>-->
      <!--<td><div align="center"><a href="addnotes">Add notes </a></div></td>-->
    <!--</tr>-->
    <tr>
      <td><div align="center"><a href="managenotes">Manage notes </a></div></td>
    </tr>
    <!--<tr>-->
      <!--<td><div align="center"><a href="addqnans">Add  question and answer </a></div></td>-->
    <!--</tr>-->
    <tr>
      <td><div align="center"><a href="manageqnans"> Manage question and answer </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="viewnotsta">View Notification</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
